{% extends "layout.html" %}
{% block title %}
User Page
{% endblock %}
{% block nav %}
    <nav id="nav">
        <ul>
            <li><a href="{{ url_for('user_home', username= current_user.username) }}">User Home</a></li>
            <li><a href="{{ url_for('profile', username= current_user.username) }}">Profile</a></li>
            <li><a href="{{ url_for('groups', username= current_user.username) }}">Group List</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        </ul>
    </nav>
{% endblock %}
{% block content %}
        {%  if current_user.is_authenticated %}
            <h1>{{current_user.username}}'s Webpage</h1>
            This is {{current_user.username}}'s personal webpage.<br>
           
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
            <p>
                {{ form.message.label }}<br>
                {{ form.message(size=150)}}
            </p>
            <p>
                {{ form.submit() }}
            </p>
            </form>

            <h1>The groups that {{current_user.username}} is in</h1>
            {% for group in groups %}
                {% include '_group.html' %}
            {% endfor %}  
            <br>
            <a href="{{ url_for('createGroup', username= current_user.username) }}">Create a group</a>
        {% else %}
            <p class="message">Provide the name after /user/ in the URL</p>
        {% endif %}
{% endblock %}
